
.mainWrapper{
    width: 100%;
    position: sticky;
    background-image: white;
    display: flex;
    justify-content: space-between;  
    align-items: center;
    padding: 2em;
    border-bottom: #222;
}

.menu{
    display: flex;
}

.loginMenu{
    justify-content: flex-end;
    display: flex;
}

.hello{
    margin: 0 16px;
    padding: 15px;
    border-radius: 8px;
}

.menuItem{ 
    margin: 0 16px;
    padding: 15px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.links{
    text-decoration: none;
    color: #222;
}

.menuItem:hover{
    background-color: #525252;
    cursor: pointer;
}

@media (max-width: 756px){
    .mainWrapper{
        width: 100%;
        border-radius: 0px; 
    }
    .menuWrapper{
        margin-top: 1rem;
    }
    .menuItem{
        padding: 12px 2px;
    } 
}