
.mainBar{
    position: sticky;
    background-image: white;
    padding: 1.2em;
    border-bottom: 1px solid #222;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;
}
.finalThreedeeTypo{
    text-decoration: none;
    flex-grow:1;
    font-size: 2.5em;
    text-transform: uppercase;
    color: #f00;
    transform: skew(-5deg, -5deg) rotate(-2deg);
    transform-origin: center center;
    text-shadow: 1px 1px #c00,
                 2px 2px #c00,
                 3px 3px #c00,
                 4px 4px #c00,
                 5px 5px #c00,
                 6px 6px #900,
                 7px 7px #900,
                 8px 8px 8px rgba(0,0,0,0.5);
  }

.menu{
    display: flex;
    justify-content: center;
    flex-grow: 3
}

.hello{
    align-self: center;
}

.login{
    display: flex;
    justify-content: center;
    flex-grow: 1
}

.menuItem{ 
    margin: 0 16px;
    padding: 15px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.links{
    text-decoration: none;
    color: #222;
    margin: 1em;
}

.menuItem:hover{
    background-color: #f00;
    cursor: pointer;
}
