
.mainWrapper{
    width: 95%;
    max-width: 1400px;
    position: sticky;
    background-color: #B6CFF9;
    border-radius: 8px; 
    margin: 0 auto;
    display: flex;
    justify-content: space-between;  
    align-items: center;
}

.menu{
    display: flex;
}

.loginMenu{
    justify-content: flex-end;
}

.menuItem{ 
    margin: 0 16px;
    padding: 15px;
    border-radius: 8px;
    transition: background-color 0.5s ease;
}

.links{
    text-decoration: none;
    color: black;
}

.menuItem:hover{
    background-color: #0800F5;
    cursor: pointer;
}

@media (max-width: 756px){
    .menuWrapper{
        margin-top: 1rem;
    }
    .menuItem{
        padding: 12px 2px;
    } 
}