.answers{
    font-size: 40px;
    padding: 50px;
    border: 2px solid #eee;
    cursor: pointer;
    border-radius: 16px;
}

.answers:hover{
    background-color: lightgreen;
    font-weight: bold;
}

.answers:active{
    background-color: orange;
}